* {
    margin: 0px;
    text-align: center;
    min-width: 20%;
}

body {
    width: 80%;
    margin: auto;
    height: 60%;
}

.container {
    box-sizing: border-box;   
    padding: 1rem;
    width: 100%;
    border: 1px solid white;
    border-radius: 1rem;
    margin-top: 1rem;
    box-shadow: 1.5rem 1.5rem 1.5rem 1.5rem grey;
}

h1 {
    padding-bottom: 1rem;
}

.question_box {
    padding-top: 1rem;
    border: 1px solid white;
    background-color: #ED7B7B;
    border-radius: 1rem;
}

.question_box_img img {
    border-radius: 1rem;
    
    height: 40%;
}

.question_box_question {
    padding: 1rem;
    color: black;
    }


button {
    border: 1px solid #FFBFBF;
    border-radius: 2rem;
    padding: 1rem;
    font-weight: bolder;
    display: block;
    margin: 0.5rem auto;
    width: 100%;
    background-color: #ED7B7B;
}
